.template-header
  .template-header__box
    .template-header__box__left
      .template-header__box__left__logo
        =link_to "#",target: "_self" do
          = image_tag 'pc.png'
        Put:Memo
      .template-header__box__left__search
        = form_tag "#" do
          = text_field :text, class:"text", placeholder: "キーワードから探す"
    .template-header__box__right
      .template-header__box__right__new
        新規投稿
      .template-header__box__right__mypage
        マイページ