.index-main{
  width: 100vw;
  height: 100%;
  background-color: #ffbb33;
  position: relative;
  img{
    width: 100%;
    // height: 100%;
  }
  &__content{
    position: absolute;
    top: 250px;
    font-size: 100px;
    text-align: center;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    &__img{
      line-height: 20px;
      img{
        width: 20%;
      }
      h2{
        line-height: 110px;
      }
    }
    &__login{
      height: 200px;
      font-size: 20px;
      max-width: 600px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 20px 0px;
      .index-login{
        text-decoration: none;
        border-radius: 30px;
        background-color: #ffc184;
        color:white;
        height: 40px;
        padding: 5px 40px;      
      }
      .index-loGin{
        text-decoration: none;
        border-radius: 30px;
        background-color: #3355ff;
        color:white;
        height: 40px;
        padding: 5px 40px;
      }

    }
  }
}

.index-all{
  background-color: whitesmoke;
  padding: 30px 250px;
  .index-Main{
    display: flex;
    .index-side{
      margin: 0px 10px;
      min-width: 200px;
      max-width: 300px;
      background-color: white;
    }
    .index-Mains{
      margin: 0px 10px;
      background-color: white;
      width: 100%;

    }
  }
}
