.new-main{
  background-color: whitesmoke;
  display: flex;
  padding: 20px;
  .new-mains{
    background-color: white;
    margin: 0 auto;
    min-width: 1300px;
    form{
      margin: 50px;
      .field{
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        input{
          width: 100%;
          height: 100%;
          font-size: 30px;
          padding: 5px;
        }
        textarea{
          width: 100%;
          font-size: 25px;
          padding: 10px;
          resize: none;
        }
      }
    }
  }
}
