* {
  box-sizing: border-box;
}
.sign-header{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 70px;
  font-size: 40px;
  box-sizing:180px;
  a{
    text-decoration: none;
    height: 70px;
    color: #404040;
    margin: 50px 0px;
    img{
      height: 100%;
      vertical-align: bottom;
    }
  }
}

.sign-main{
  background-color: whitesmoke;
  display: flex;
  form{
    background-color: white;
    padding: 50px;
    font-family: 'arial unicode ms';
    min-width: 500px;
    margin: 0 auto;
    .sign-no_account{
      padding-bottom: 40px;
      text-align: center;
      p{
        padding-bottom: 10px;
      }
      a{
        text-decoration: none;
        width: 100%;
        padding: 20px;
        background-color: #ffbb33;
        color: white;
        font-size: 20px;
        display: block;
      }
    }
    .field{
      padding: 20px;
      label{
      }
      input{
        width: 100%;
        padding: 8px;
        margin-top: 10px;
      }
    }
    .actions{
      display: flex;
      justify-content: center;
      padding: 20px;
      button{
        width: 100%;
        padding: 20px;
        background-color: #ffbb33;
        color: white;
        font-size: 20px;
      }
    }
  }
}

.sign-footer{
  background-color: whitesmoke;
  height: 200px;
}